@{ 
    Layout = "_Layout";
}

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/feane-html/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We Are Burger Land
                        </h2>
                    </div>
                    <p>
                        Burger Land Hamburger, 1990 yılında açılan bir aile işletmesidir. İlk açıldığımız günden bu yana, müşterilerimize her zaman en taze,
                        en lezzetli ve en besleyici hamburgerleri sunmak için çalışıyoruz. Hamburgerlerimiz, tamamen doğal ve organik malzemeler
                        kullanılarak hazırlanır ve her gün taze olarak hazırlanır. Restoranımızın amacı, müşterilerimize sadece mükemmel yemekler
                        değil, aynı zamanda mükemmel bir müşteri hizmeti deneyimi sunmaktır. Burger Land Hamburger'a hoş geldiniz!
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>